script(type="text/javascript", src="/static/js/dollardollar.min.js")
script(type="text/javascript").
    var rnd = [1, 2, 3, 4, 5, 6];
    var rnd = rnd[Math.floor(Math.random() * rnd.length)];
    $$('._quote-popular:not(:nth-child(' + rnd + '))').remove();

    var socialGetter = (function() {
        function injectScript(url) {
            var script = document.createElement('script');
            script.async = true;
            script.src = url;
            document.body.appendChild(script);
        }

        return {
            getTwitterCount: function(url, callbackName) {
                injectScript('http://urls.api.twitter.com/1/urls/count.json?url=' + url + '&callback=' + callbackName);
            }
        };
    })();

    function twitterCallback(result) {
        $$('#tweets').html(result.count);
    }

    socialGetter.getTwitterCount(document.URL, 'twitterCallback');

