section.__container
	article.grid__col.grid__col--one-of-two.grid__col--am(dir="ltr")
		h1 LOST
		hr(class="seprate")
		.__small.shout-gun
			| My Magnifier did not Find your Target. Maybe one day I will make the Link! 
			i Be Great and Be Happy.
			br
			br
			a(href="#{ site_url }") Home 
			| • 
			a(href="http://twitter.com/#{twitter_account}", target="_blank") Twitter 
			| • 
			a(href="http://github.com/#{github_account}", target="_blank") Github

	article.grid__col.grid__col--one-of-two.grid__col--am(dir="ltr")
		picture
			img(srcset="/static/img/404-villager.png, /static/img/404-villager-@2x.png 2x", class="__small-scale")