!!!
html(lang="en")
  head
    != partial("_require/header")
  body(class="page-#{ current.path[0] }", id="#{ current.path.join('-') }")
  if current.path[0] != "404"
    != partial("_require/headline")
    if current.source == 'index' || current.path.length == 1
      main.__container.main__articles(role="main")
        != yield
    else
      != partial(current.path[0] + "/_nest", { yield: yield })

    != partial("_require/footer")
  if current.path[0] === "404"
    != yield
  if current.path[0] === "notes"
    if disqus
      != partial("_require/comment-count")
  if current.path[0] != "404"
   if includes
    != partial("_require/includes")

  if analytics
    != partial("_require/all-time")
