/*-----------------------------------*\

  # Siamak Mokhtari was here ! (September 17, 2014)
  ## Made with passion in FictionTeam at Tehran, Iran.

\*-----------------------------------*/

html, body{
	min-height: 100%;
}
html {
	font-family: $font-type-regular,$font-type-strong,$font-type-latin, Helvetica, Times,serif;
	font-size: $base-font-size;
	line-height: $baseline-unitless;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "liga", "kern";
	// -webkit-font-feature-settings: "liga", "kern";
	@include font-smoothing();
	direction: $base-direction;
	&:before{
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 3px;
		background: $highlight;
		z-index: 1;
	}
}

body{
	position: relative;
	background: $background;
	color: $dark-gray;
	margin: 0;
}

a{
	color: $highlight;
	text-decoration:none;
	transition : border-color .2s ease-in-out, color .2s ease-in-out;
	&:hover{
		color: $highlight-hover;
	}
}

mark{
	background: saturate(adjust-hue($highlight,-25deg),17.5%);
}

code{
	background: $dark-gray;
	padding: $baseline * .15;
	color: $white-light;
}

picture{
	display: block;
	line-height: 0;
}

picture + span{
	display:block;
	margin-top: $baseline * .2;
}

.__header{
	margin-bottom: $baseline;
	.#{$grid-column-namespace}--about{
		.header__about{
			color: darken($white-dark, 22.5%);
			line-height: $baseline * .85;
		}
	}
	.__title-name{
		display: block;
		margin: $baseline * .25 0;
		color: $dark-gray;
	}
	.header__about-image{
		width: 43px;
		height: 43px;
		display: inline-block;
		box-shadow: 0 0 0 2px #fff, 0 0 0 3px $white-dark, 0 1px 6px rgba($dark-gray, .75);
		margin: 0 2px 0 $baseline * .4;
		background-color: lighten($white-dark, 15%);
		vertical-align: bottom;
		font-size: 0;
		border-radius: .15rem;
		object-fit: cover;
	}
}

.__container{
	width: $container;
	display: block;
	margin: $baseline / 1.25 auto;
	position: relative;
	max-width: 100%;
}

.main__articles{
	header:first-of-type{
		margin:$baseline / 2 0 $baseline / 1.25;
		.icon--clock{
			fill: darken($white-dark, 22.5%);
			vertical-align: middle;
			width: 19px;
			height: 19px;
			margin-left: .25em;
		}
		time{
			vertical-align: middle;
		}
		h4{
			color: darken($white-dark, 22.5%);
		}
	}
	.note-list.featured{
		header:first-of-type{
			h4:after{
				content:'ویژه';
				display: inline-block;
				font-size: .75em;
				vertical-align: middle;
				margin: 0 $baseline / 4;
				padding: $baseline / 12 $baseline / 4 $baseline / 8;
				line-height: normal;
				color: $dark-gray;
				@include vertical-gradient($golden, $golden-dark);
				border-radius: $baseline/6;
				box-shadow: 0 0 0 1px #FFF, 0 0 0 2px #DFBE1E;
			}
		}
	}
}

.note__list-nav{
	margin: $baseline * 1.25 0;
	a.note__list-link{
		padding: $baseline * .1 $baseline * .4;
		margin: $gutter-width 0;
		border-right: 2px solid $white-dark;
		display: block;
		transition: .25s cubic-bezier(.47,.06, .2, 1);
		b, span{
			display:block;
			color: $light-black;
		}
		span{
			font-size: .8em;
		}
		&:hover{
			transform: translateX(.65rem);
			border-color: $highlight;
		}
	}
}

.__button-solid-sexy{
	display: table;
	color: darken($white-dark, 15%);
	padding: $baseline / 8 $baseline / 2 !important;
	border: 1px solid $white-dark;
	white-space: nowrap;
	&.full-stack{
		margin: $baseline * 1.5 auto;
	}
	&:hover{
		border-color: $highlight-hover;
	}
	& #tweets{
		display: inline-block;
		background: $white-light;
		padding: 2px 8px;
		font-size: .8em;
		margin-left: $baseline * .15;
		line-height: $baseline * .75;
		border-radius: $baseline * .5;
		vertical-align: middle;
	}
}

.all--posts{
	display: table;
	margin: $baseline auto;
	padding: $baseline / 4 $baseline / 2 !important;
	background: $white-light;
}

.disqus--section{
	margin: $baseline auto;
}

._quote-popular{
	display: none;
	&.show { display: block !important; }
}
.__footer {
	& .#{$grid-column-namespace}--span-all{
		border:1px solid $white-dark;
		border-width: 1px 0;
		padding: $baseline * .5 0;
	}
	& .#{$grid-column-namespace}--bl{
		border-left:1px solid $white-dark;
	}
	& .__small{
		margin: 0;
	}
	& article{
		padding: $baseline * .75;
		color: $light-gray;
	}
	& div{
		@extend %small-text;
	}
}

._isLoad{
	animation-name: load__content;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
	animation-timing-function: cubic-bezier(.29, 1, .45, 1);
	animation-duration: .6s;
	animation-iteration-count: 1;
}

@keyframes load__content {
	0% {transform: translateY(-6rem); opacity: 0;}
	80% {transform: translateY(1rem); opacity: .8; }
	100% {transform: translateY(0rem); opacity: 1;}
}
