/*-----------------------------------*\

  # Grid inspired of TOAST by Daniel Eden [http://daneden.github.io/Toast/]

\*-----------------------------------*/


%span-all 	   	{ width : percentage(1/1); }

%one-half       { width : percentage(1/2); }

%one-third      { width : percentage(1/3); }

%two-thirds     { width : percentage(2/3); }

%one-quarter    { width : percentage(1/4); }

%two-quarters   { width : percentage(2/4); }

%three-quarters { width : percentage(3/4); }

%one-fifth    	{ width : percentage(1/5); }

.#{$grid-namespace} { list-style: none; }

.#{$grid-column-namespace}--one-of-one{
    @extend %span-all;
}
.#{$grid-column-namespace}--one-of-two{
    @extend %one-half;
}
.#{$grid-column-namespace}--one-of-three{
    @extend %one-third;
}
.#{$grid-column-namespace}--two-of-three{
    @extend %two-thirds;
}
.#{$grid-column-namespace}--one-of-four{
    @extend %one-quarter;
}
.#{$grid-column-namespace}--two-of-four{
    @extend %two-quarters;
}
.#{$grid-column-namespace}--three-of-four{
    @extend %three-quarters;
}
.#{$grid-column-namespace}--one-of-five{
    @extend %one-fifth;
}
.note-list{
  margin-bottom: $baseline * 1.5;
}
.#{$grid-column-namespace} {
    display: inline-block;
    margin-right: 0;
    padding: 0 $gutter-width;
	vertical-align: top;

	&.#{$grid-column-namespace}--centered {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}

	&.#{$grid-column-namespace}--d-first {
    	float: left;
	}

	&.#{$grid-column-namespace}--d-last {
    	float: right;
    }

	&.grid--no-gutter {
    	margin-left: 0;
    	width: 100%;
    	> * {
      		padding: 0;
    	}
  	}

  	&.#{$grid-column-namespace}--ab {
    	vertical-align: bottom;
  	}

  	&.#{$grid-column-namespace}--am {
    	vertical-align: middle;
  	}
    &.#{$grid-column-namespace}--justify{
		text-align: justify;
    }

    @media (max-width: $breakpoint-medium) {
    	&[class*="#{$grid-column-namespace}--"]{
    		display: block;
    		margin-left: 0;
    		margin-right: 0;
    		width: auto;
    	}
    }

    @media (max-width: $breakpoint-small) {
      .hide-on-mobile{ display: none !important; }
      .__align--right{
        margin: 0;
        margin-bottom: $baseline * .75;
        float:none;
        width: 100%;
      }
      .__align--left{
        margin: 0;
        margin-bottom: $baseline * .75;
        float:none;
        width: 100%;
      }
      .hero_cover{
        width: $base-font-size * .95;
        margin: $baseline (-$base-font-size) / 19;
      }
        .hero__content{
            margin: $baseline * .25 $baseline * .5 !important;
        }
        .hero__content--title{
            font-size: $base-font-size;
            margin: 0;
        }
        .hero__content--text{
            font-size: $base-font-size * .75;
            margin: 0;
        }
    }

    @media (max-width: $breakpoint-medium) and (min-width: $breakpoint-small) {
        .hero_cover{
            width: $base-font-size * .9;
            margin: $baseline (-$base-font-size) / 34;
        }
        .__align--right{
            margin-right: 0;
            margin-left: $baseline * .75;
        }
        .__align--left{
            margin-left: 0;
            margin-right: $baseline * .75;
        }
    }

	@media (min-width: $breakpoint-medium * 1.5){
        ._quote-popular{
            font-size: $baseline * .65;
        }
    }
} 



@media (max-width: $breakpoint-medium) {
    .#{$grid-column-namespace}--bl{
      border-left: 0 !important;
      border-bottom: 1px solid $white-light;
    }
    img.__small-scale{
      max-width: 30vh;
    }
    [title-face]{
        white-space: normal;
    }
}

.hero_cover{
	width: $base-font-size * 1.1;
	display: block;
	margin: $baseline (-$base-font-size * 1.1) / 8;
	position: relative;
	overflow: hidden;
	&.hero__overlay--picture{
		&:before{
			content:'';
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left:0;
			background: darken(saturate($blue-dark,40%),42.5%);
			opacity: .35;
		}
		& .hero__content{
			position: absolute;
			bottom: 0;
			margin: $baseline * .75 $baseline;
			pointer-events: none;
			&[dir=ltr]{
				direction: ltr;
				text-align:left;
				left:0;
			}
			& .hero__content--title{
				color: $white-light;
				text-shadow: 0 1px 0 #000;
			}
			& .hero__content--text{
				color: darken($white-light,20%);
                text-shadow: 0 1px 0 #000;
			}
			& .hero__content--copy{
				color: darken($white-light,35%);
				pointer-events: auto;
			}
		}
		& img{
			width: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.super--hero{
	display: block;
	margin: 0 auto;
}

.__align--left {
	float: left;
	width: 30%;
	margin: 0;
	margin-left: -15%;
	margin-right: $baseline * .75;
	margin-bottom: $baseline * .25;
}

.__align--right {
	float: right;
	width: 30%;
	margin: 0;
	margin-right: -15%;
	margin-left: $baseline * .75;
	margin-bottom: $baseline * .25;
}

