//
// 404 PAGE:
// ========
//
//
.page-404{
	background-image: -o-linear-gradient(-89deg, $first-color-404 0%, $second-color-404 100%);
	background-image: -moz-linear-gradient(-89deg, $first-color-404 0%, $second-color-404 100%);
	background-image: -ms-linear-gradient(-89deg, $first-color-404 0%, $second-color-404 100%);
	background-image: linear-gradient(-179deg, $first-color-404 0%, $second-color-404 100%);
	color: $white-dark;
	.shout-gun{
		line-height: $baseline * .85;
	}
	a { color: $lighter-gray }
	img { display: block; margin: 0 auto; }
	& .seprate{
		width: 100%;
		margin: $baseline / 4 0 $baseline / 2;
		opacity: .5;
	}
}
