//
// 
// Minxins:
// =======
//

@mixin transform($string){
    -webkit-transform     : $string;
    -moz-transform        : $string;
    -ms-transform         : $string;
    -o-transform          : $string;
    transform             : $string;
}
@mixin border-radius($radius) {
    -webkit-border-radius : $radius;
    -moz-border-radius    : $radius;
    -o-border-radius      : $radius;
    border-radius         : $radius;
}
@mixin font-face($family,$src,$weight : normal,$style: normal) {
    @font-face {
        font-family : $family;
        src         : url('#{$src}.woff') format('woff');
        font-style  : $style;
        font-weight : $weight;
    }
}
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing    : antialiased;
        -moz-osx-font-smoothing   : grayscale;
    }
    @else {
        -webkit-font-smoothing    : subpixel-antialiased;
        -moz-osx-font-smoothing   : auto;
    }
}
