//
// 
// Minxins:
// =======
//

@mixin transform($string){
    -webkit-transform     : $string;
    -moz-transform        : $string;
    -ms-transform         : $string;
    -o-transform          : $string;
    transform             : $string;
}
@mixin border-radius($radius) {
    -webkit-border-radius : $radius;
    -moz-border-radius    : $radius;
    -o-border-radius      : $radius;
    border-radius         : $radius;
}
@mixin font-face($family,$src,$weight : normal,$style: normal) {
    @font-face {
        font-family : $family;
        src         : url('#{$src}.woff') format('woff');
        font-style  : $style;
        font-weight : $weight;
    }
}
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing    : antialiased;
        -moz-osx-font-smoothing   : grayscale;
    }
    @else {
        -webkit-font-smoothing    : subpixel-antialiased;
        -moz-osx-font-smoothing   : auto;
    }
}

@mixin radial-gradient($from, $to) {
    background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: radial-gradient(center, circle cover, $from 0%, $to 100%);
    background-color: $from;
}

@mixin vertical-gradient($startColor: #3C3C3C, $endColor: #999999) {
    // background-color: $startColor;
    background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(top, $startColor, $endColor);
    background-image:    -moz-linear-gradient(top, $startColor, $endColor);
    background-image:     -ms-linear-gradient(top, $startColor, $endColor);
    background-image:      -o-linear-gradient(top, $startColor, $endColor);
    background-image:         linear-gradient(top, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}

@mixin horizontal-gradient($startColor: #3C3C3C, $endColor: #999999) {
    background-color: $startColor;
    background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(left, $startColor, $endColor);
    background-image:    -moz-linear-gradient(left, $startColor, $endColor);
    background-image:     -ms-linear-gradient(left, $startColor, $endColor);
    background-image:      -o-linear-gradient(left, $startColor, $endColor);
    background-image:         linear-gradient(left, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}', gradientType='1');
}