//
// 
// Modules:
// =======
//

*{
	box-sizing: border-box;
}

::selection{ 
	background-color: $highlight;
	color: white;
}

%if-letter-spacing-on{
	letter-spacing: -.025rem;
	word-spacing: -.05rem;
	// letter-spacing: -1px;
	// word-spacing: -1px;
}

%small-text{
	font-size: .8em;
	line-height: $base-font-size * 1.5;
}

img, iframe{
	max-width: 100%;
}
iframe{
	display: block;
	margin: $baseline * .75 auto;
}

[title-face] {
	position: relative;
	white-space: nowrap;
	&[title-dir]:before, &[title-dir]:after{
		direction:ltr;
	}
    &:after {
		content: attr(title-face);
		bottom: 100%;
		left: 50%;
		padding: $baseline/3;
		font-size: .75rem;
		line-height: $base-font-size / 1.1;
		position: absolute;
		transform: translateX(-50%) rotate(5deg);
		font-family: $font-type-regular,$font-type-strong,$font-type-latin,Arial,Times,serif;
		font-weight: normal;
		font-style: normal;
		z-index: 2;
		background-color: rgba($dark-gray,.8);
		@include border-radius($baseline/6);
		color: #fff;
		opacity: 0;
		transition: .25s cubic-bezier(0.905, -0.250, 0.520, 1.410);
		transition-delay: 150ms;
		pointer-events: none;
    }

    &:hover:after {
		margin-bottom: 18px;
		opacity: 1;
		transform: translateX(-50%);
    }

    &:before {
		content: '';
		bottom: 100%;
		left: 50%;
		margin-bottom: -20px;
		position: absolute;
		transform: translateX(-50%) rotate(5deg);
		z-index: 2;
		border: 12px solid transparent;
		border-top-color: rgba($dark-gray,.8);
		opacity: 0;
		transition: .25s cubic-bezier(0.905, -0.250, 0.520, 1.410);
		transition-delay: 150ms;
		pointer-events: none;
    }

    &:hover:before {
		margin-bottom: -6px;
		opacity: 1;
		transform: translateX(-50%);
    }
}