//
// 
// Variables           :
//                     =========
//
// Everything need to know CSS
// 
// Global variables of all kinds
//


// Road: Configuration
$base-direction        : rtl;
$grid-namespace        : "grid";
$grid-column-namespace : "grid__col";

// Road: Grid system
$gutter-width          : 20px;
$breakpoint-medium     : 62rem;
$breakpoint-small      : 30rem;

// Road: Unit Sizes
$base-font-size        : (19/16)*100%;
$baseline-unitless     : 28/(13*($base-font-size/100%));
$baseline              : $baseline-unitless * 1rem;

// Road: Fonts
$font-type-regular     : "IranianSerifWeb-regular";
$font-type-bold        : "IranianSerifWeb-bold";
$font-type-strong      : "Mitra";
$font-type-latin       : "Merriweather";

$font-sans             : $font-type-regular, $font-type-latin, Geneva, Verdana, sans-serif;
$font-bold             : $font-type-strong, $font-type-latin, Georgia, serif;

// Road: Base Colors
$background            : #fcfcfc;

$white-light           : darken(white,10%);
$white-dark            : darken(white,22%);
$dark-gray             : #333333;
$light-gray            : lighten($dark-gray,20%);
$lighter-gray          : lighten($light-gray,20%);
$light-black           : lighten(black,15%);


// Road: Variety Colors
$blue-dark             : lighten(#667480,12%);
$highlight             : darken(#186FB6,1%);
$highlight-hover       : lighten(adjust-hue($highlight,15deg),10%);
$golden                : #FFD700;
$golden-dark           : darken($golden,12.5%);

$first-color-404       : #222222;
$second-color-404      : darken($first-color-404,10%);
