p سلامی بعد از تقریبا ۶ ماه! خیلی وقت بود می‌خواستم آپدیت کنم اما به دلایلی فرصت نمی‌نکردم اما امروز تصمیم گرفتم یه دست‌نویسی منتشر کنم از این ۶ ماهی که گذشت. اولش رو با یه جمله از حسین پناهی شروع می‌کنم که چند روز پیش باهاش روبرو شدم:
blockquote میزی برای کار، کاری برای تخت، تختی برای خواب، خوابی برای جان، جانی برای مرگ، مرگی برای یاد، یادی برای سنگ، این بود زندگی...
	.quote-owner__gray حسین پناهی

picture
	img(srcset="/store/A-Month-to-Nowruz--cover.jpg, /store/A-Month-to-Nowruz--cover@2x.jpg 2x", class="super--hero")

p همون‌طور که در دست‌نوشته قبلی گفتم تابستون کنکور داشتم و دانشگاه قبول شدم. مثل همه دانشجو های این مملکت منم از مهر رفتم سر کلاس و مشغول درس و تحصیل و این چیزا شدم. روزها و هفته های اول خیلی خوب بود چون محیط اطرافم متفاوت تر از قبل بود و دوستای جدیدی به لیست دوستام اضافه شد که همشون برام عزیزن و دوستشون دارم.
h3 دانشجویی که معلم شد
p همین‌طور که به درس و تحصیل و کسب سواد از دانشگاه مشغول بودم(!) از طرف دانشگاه بهم پیشنهاد شد که ورکشاپ طراحی وب تو دانشگاه برگزار کنم. من هم دوست داشتم تجربه این داستان رو داشته باشم و قبول کردم و کلاس ها شروع شد تعداد افرادی که پیش‌ثبت‌نام کرده بودن +۱۰۰ نفر بود که برای خودم عجیب بود در نهایت ۶۰ نفر پذیرفته شدن و هر جلسه براساس یه سری فیلتر ها تعدادشون کمتر شد و در نهایت به ۲۰ نفر رسیدن. که از بین این افراد چندین نفر توانایی این رو پیدا کردن که پروژه ها دانشجویی قبول کنن و از کنارش بتونن کسب درآمد کنن که این خبر خوشحال کننده ای برای من بود.
iframe(src="//instagram.com/p/vyL8tkNh1p/embed/", width="612", height="710", frameborder="0", scrolling="no", allowtransparency="true")
p 
	| در حین برگزاری کلاس با الی عزیزم آشنا شدم که با اتفاقات عجیب گذشته{امنیتی} بهش علاقه‌مند شدم و قرار شد با هم برای رسیدن به اهدافمون ادامه بدیم. اینجا بود که من معنی واقعی علاقه و دوست داشتن رو متوجه شدم.
	br
	| پیشنهاد می‌شود در صورتی که انسان مورد نظرتون رو پیدا کردید به دنبال این قضیه بروید. چون‌که در پی مشکلات و اتفاقات روزمره می‌تونید در کنارش آروم باشید و از زندگی لذت ببرید. #تجربه

figure.__align--left
	img(src="/store/Abanegan--logo.svg", alt="Abanegan Pty Ltd.")
	span 
		a(href="http://abanegan.com", target="_blank") Abanegan
		| , Digital Solutions.

h3 کار جوهره مَردِ(!)؛ آبانگان
p 
	| در مورد کار و کسب هم صحبتی کنم بد نباشه ی وقت! بعله! همون‌طور که قبلا هم گفته بودم من الان یکی از 
	a(href="http://netbarg.com" target="_blank" title="نت‌برگ") نت‌برگ
	|  ی‌ها هستم (الان: ۰۶ اسفند ۱۳۹۳) تقریبا الان ۷ ماهی هست که من در نت‌برگ مشغول به کار هستم و امیدوارم کارهایی که انجام دادم مفید بوده باشه. در کنار کارها با 
	a(href="http://twitter.com/shayan" target="_blank") شایان نوبرانی
	|  عزیز صبحت‌هایی داشتیم. در نتیجه صحبت ها من از ۱ام بهمن در 
	a(href="http://abanegan.com" target="_blank" title="آبانگان") آبانگان
	|  هم مشغول به کار شدم. وظیفه من در آبانگان Front–End Engineering هست. از روابط و سبْـک کاری در آبانگان کاملا راضی هسـتم و امـیدوارم هر روز پیـشرفت بیـشتری حاصل بشه.
hr
p
	| کلی اتفاقات خوب تو چند ماه گذشته برام افتاد که از همشون راضی هستم و خدا رو شکر می‌کنم از این بابت.
	br
	| دوست دارم زود به زود بنویسم اما کمبود زمانی این اجازه رو بهم نمیده. 
	a(href="http://twitter.com/sia_mac/" target="_blank") توییتر
	|  و 
	a(href="http://instagram.com/siamakmokhtari/" target="_blank") اینستاگرام
	|  داغ‌تر هستند!
	br
	| با آرزوی موفقیت،
	br
	| سیامک مختاری – زمستان، بهمن ۱۳۹۳.

//- p سلام، به اولین پست از بلاگ من خوش آمدید. امیدوارم که دنیاتون پر از شادی و خوشحالی باشه. چند ماهی بود که تصمیم داشتم بلاگ شخصی از نوع خیلی شخصی راه بندازم خیلی شخصی به این خاطر که تمام سعیم را می‌کنم تا در اینجا از کد و مسائل مربوط به اون صحبتی نکنم (!) و فقط از خودم، اطرافم و چیزهایی که ازش رنج می‌برم یا خوشحالم می‌کنند صحبت کنم و مطالبی را به اشتراک بگذارم که وابسته به زندگی شخصیم باشند. می‌خواهم خیلی دوستانه صحبت کنم و دچار قواعد نوشتاری و از این حرف‌ها نشم و در کمال سادگی بنویسم. کمی درمورد این روزهام بنویسم شاید خوب باشه. امسال من هم مثل یک میلیون پانصد هزار نفر دیگه کنکور داشتم و خیلی خوشحالم که می‌خوام مهندس نرم افزار از دانشگاه های ایران  بشم (!)، امیدوارم که بتونم به این صنعت خدمت های زیادی کنم. بعد از اعلام نتایج خیلی سعی کردم مثل بقیه دوستام شبا بیدار بمونم و صبحا بخوابم ولی نشد! یعنی شد ولی زیاد با این سَبْک حال نکردم! تصمیم گرفتم در کنار کارهام در 
//-  a(href="http://twitter.com/fictionteam" target="_blank") FictionTeam 
//-  | جایی مشغول به کار بشم که هم کسب تجربه کنم هم درآمدی داشته باشم. با چند تا شرکتی که از قبل دوست داشتم باهاشون کار کنم وارد مذاکره شدم و از بین اون‌‌ها تصمیم گرفتم در نت‌برگ فعالیت رسمی و کاری خودم را شروع کنم.

//- figure.__align--right
//-  hr.long-line
//-  picture
//-   img(srcset="/store/NetBarg_hi-world--logo.png, /store/NetBarg_hi-world--logo@2x.png 2x", alt="نت برگ | NetBarg")
//-  span 
//-   a(href="http://netbarg.com", target="_blank") نت برگ
//-   | ، سایت تخفیف و خرید گروهی.

//- h3 نت‌برگ محلی برای کسب تجربه
//- p روزهای اول کاریم همیشه به یادم خواهد ماند. استرس زیادی داشتم چون برای اولین بار وارد حرفه ای شده بودم که قرار بود مسئولیت های زیادی به من داده بشه. بعد از چند روز متوجه شدم که به اون شکلی که من فکر می‌کردم نبوده و راحت تر از تفکرات پریشان من هست. روزهای اول به میز کارم علاقه شدیدی پیدا کردم و در اینستاگرام شخصیم تصویرش را شِیر کردم: 
//- P
//- iframe(src="//instagram.com/p/spXyLbthyY/embed/", width="612", height="710", frameborder="0", scrolling="no", allowtransparency="true")
//- p تا امروز من یک ماهه در نت‌برگ مشغول به کار شدم و در این یک ماه تجربیاتی بدست آوردم که شاید چند سال در فریلنس نشه بدستشون آورد. نت‌برگ رو دوست دارم چون با تمام مشکلات و سختی هایی که وجود داره ولی کار در اون انجام میشه و نتیجه داره.
//- hr
//- p همیشه دوست دارم اینجا بنویسم. چه خوب، چه بد. امیدوارم از سادگی زیاد بلاگم خوشتون اومده باشه.
//-  br
//-  | با آرزوی موفقیت، 
//-  br
//-  | سیامک مختاری – پاییز ۱۳۹۳.