picture
	img(srcset="/store/backpack-94.jpg, /store/backpack-94@2x.jpg 2x", class="super--hero")
p سلام. امیدوارم این روزها حالتون خوش باشه و شاد باشید. بهار۹۴ نزدیک و به زودی وارد سال جدیدی میشیم که قراره برامون اتفاقات زیادی بیفته. اتفاقاتی که ممکن است خوب یا بد باشند، مهم اینه که درست زندگی کنیم و از زندگیمون راضی باشیم. اما 
	a(href="http://thecoach.ir/backpack-94/" target="_blank") کوله پشتی۹۴
	| . اول باید تعریف کنم که کوله پشتی چیه. کوله پشتی یک بازی وبلاگی‌ست از 
	a(href="http://www.twitter.com/amirmehrani" target="_blank") امیر مهرانی
	|  عزیز، به فرض ما یک کوله پشتی داریم که در آن باید تجربیات و چیز هایی رو قرار بدیم که می‌خواهیم با خودمان به سال جدید ببریم. اصل هدف به اشتراک گذاری تجریبات خوب و بدی است که در طول یک سال گذشته برایمان اتفاق افتاده است. من هم علاقه‌مند بودم که این پست رو بنویسم. پس بزن بریم…

p تا بهار۹۴ کمتر از ۴۰ ساعت زمان باقی مونده و داریم به شروع سال جدید نزدیک میشیم. من طی چند روز گذشته به این فکر بودم که امسال رو چگونه گذروندم و چه اتفاقاتی تو این سال برام افتاد و من از اتفاقات اطرافم چه درس هایی گرفتم و برای سال جدید باید چه کارهایی رو انجام بدم و از چه کارهایی دوری کنم.
	br
	| بهار۹۳ پر استرس ترین بهار زندگیم بود. چون کنکور داشتم و طبق روال همه کنکوریا فصل بهار، فصلی سخت و استرس زاست. شروع فعالیت جدی و رسمی کاری من از مرداد ماه شروع شد و همان‌طور که قبلا گفتم 
	a(href="Hello-World.html" target="_blank") (سلامی از دنیای شخصی من)
	|  روزهای اول کاری استرس داشتم. ترسی که کامل واهی بود. «شش ماه اول یادگرفتم، زندگی راحت‌تر از اونی هست که من بهش نگاه می‌کنم و باد راحت‌تر بگذرونم.»
	br
	| در شش ماه دوم سال دانشگاه شروع شد. درس و تحصیل در دانشگاه محیطی متفاوت داشت و به تبع برام جالب بود و در برخورد با هم‌سن و سالای خودم متوجه شدم: «خوبه که جلوتر از هم‌سن و سالای خودت باشی ولی باید خیلی مراقب باشی که این جلو بودن بهت آسیب نزنه و از دوستانت دورنشی.»
	br
	| در طول یکسالی که در 
	a(href="http://twitter.com/fictionteam" target="_blank") FictionTeam
	|  مشغول بکار هستم، متوجه شدم لیدر بودن و مدیریت کارهـا سخت‌تر اون چیزی هست که فکرش رو می‌کردم و هندل کردن بعضی مسائل واقعا پیچده‌ست و نیاز به تجربه داره و باید صبوری بیشتری در کار داشت.
	br
	| شش ماه دوم سال ۹۳ فشار کاری زیادی روی من بود. به صورتی که مشکلات زیادی به واسطه این فشار ها برام پیش اومد. یادگرفتم که همزمان چند کار رو قبول نکنم. آرامش و تمرکز روی تعداد محدودی کار داشته باشم تا نتیجه ای که دوست دارم رو براشون رقم بزنم.
hr
h3 با خودم می‌بَرم
p سال۹۳ با همه اتفاقاتش برای من سال خوبی بود و من در این سال تونستم اتفاقات زیادی رو برای اولین بار در زندگیم تجربه کنم. این تجربیات شاید برای کسی که ۱۹ سالشه خیلی عجیب باشه (دیدگاه اطرافیانم) ولی خودم راضی هستم از این بابت.
	br
	| هر سال سختی ها و شیرینی های خاص خودش رو داره و من میخوام از تجربیات اندک خودم استفاده کنم و اتفاقات آینده رو به خوبی رقم بزنم. با خودم علاوه بر تجربیاتی که بالا گفتم یه سری چیزهای دیگر رو با خودم به سال جدید می‌برم. مثل مهربونی، خوش‌قولی و دوستان خوب.


//- pre.
//- 	var gulp         = require('gulp'),
//- 		sass 		 = require('gulp-sass'),
//- 		autoprefixer = require('gulp-autoprefixer'),
//- 		uglify       = require('gulp-uglify'),
//- 		csso 		 = require('gulp-csso');

//- 		gulp.task('styles', function() {
//- 			gulp.src('dist/css/*.scss')
//- 				.pipe(sass())
//- 				.pipe(autoprefixer('last 2 versions'))
//- 				.pipe(csso())
//- 				.pipe(gulp.dest('dist/css/'));
//- 		});

//- 		gulp.task('javascript', function() {
//- 			gulp.src('dist/js/*.js')
//- 				.pipe(uglify())
//- 				.pipe(gulp.dest('dist/js/'));
//- 		});


//- figure.hero_cover.hero__overlay--picture
//- 	.hero__content
//- 		.hero__content--title.__large بهار ۹۴ مبارک...
//- 		.hero__content--text.__medium سین هفتم...
//- 	img(srcset="/store/quick.jpg, /store/quick.jpg 2x", class="super--hero")


p
	| امسال با خیلی‌ها آشنا شدم. چه در زندگی شخصیم چه در زندگی کاریم. همه برام محترم هستند و براشون آرزوی بهترین ها رو دارم. اما دوست دارم در این نوشته از چند نفر کتبا تشکر کنم. چون معتقدم کمک های خوبی بهم داشتند.
	ul
		li ممنونم از الی عزیزم، کسی که با وجود همه اتفاقات دلیل آرامشم بود.
		li ممنونم از دکتر رستگاری مدیر فنی سابق نت‌برگ بابت لطف و مهربونی‌هاشون.
		li ممنونم از 
			a(href="http://twitter.com/farzadian" target="_blank") فرزاد نجاریان
			|  عزیز، کسی که اتفاقات کاریم در گرو خوبی های او میدونم.
		li ممنونم از 
			a(href="http://twitter.com/shayan" target="_blank") شایان نوبرانی
			| ، 
			a(href="http://twitter.com/iahmadina" target="_blank") احمد کریم پور
			| ، 
			a(href="http://twitter.com/farhadex" target="_blank") فرهاد عیدی
			|  عزیز و کسانی که در این سال کمک های زیادی به من کردند.
hr
p تک تکتون رو دوست دارم و امیدوارم سال جدید، سال عاری از هرگونه بدی و زشتی باشه و بتونیم اتفاقات جدیدی رو رقم بزنیم. امیدوارم تا سال آینده به همه اتفاقاتی که بهشون فکر می‌کنم برسم و بتونم کارهایی که دوست دارم رو انجام بدم.
p ارادتمند،
	br
	| سیامک مختاری – کمی مانده به بهار۹۴.