picture
  img(srcset="/store/Hi-world--cover.jpg, /store/Hi-world--cover@2x.jpg 2x", class="super--hero")
p سلام، به اولین پست از بلاگ من خوش آمدید. امیدوارم که دنیاتون پر از شادی و خوشحالی باشه. چند ماهی بود که تصمیم داشتم بلاگ شخصی از نوع خیلی شخصی راه بندازم خیلی شخصی به این خاطر که تمام سعیم را می‌کنم تا در اینجا از کد و مسائل مربوط به اون صحبتی نکنم (!) و فقط از خودم، اطرافم و چیزهایی که ازش رنج می‌برم یا خوشحالم می‌کنند صحبت کنم و مطالبی را به اشتراک بگذارم که وابسته به زندگی شخصیم باشند. می‌خواهم خیلی دوستانه صحبت کنم و دچار قواعد نوشتاری و از این حرف‌ها نشم و در کمال سادگی بنویسم. کمی درمورد این روزهام بنویسم شاید خوب باشه. امسال من هم مثل یک میلیون پانصد هزار نفر دیگه کنکور داشتم و خیلی خوشحالم که می‌خوام مهندس نرم افزار از دانشگاه های ایران  بشم (!)، امیدوارم که بتونم به این صنعت خدمت های زیادی کنم. بعد از اعلام نتایج خیلی سعی کردم مثل بقیه دوستام شبا بیدار بمونم و صبحا بخوابم ولی نشد! یعنی شد ولی زیاد با این سَبْک حال نکردم! تصمیم گرفتم در کنار کارهام در 
 a(href="http://twitter.com/fictionteam" target="_blank") FictionTeam 
 | جایی مشغول به کار بشم که هم کسب تجربه کنم هم درآمدی داشته باشم. با چند تا شرکتی که از قبل دوست داشتم باهاشون کار کنم وارد مذاکره شدم و از بین اون‌‌ها تصمیم گرفتم در نت‌برگ فعالیت رسمی و کاری خودم را شروع کنم.

figure.__align--right
 hr.long-line
 picture
  img(srcset="/store/NetBarg_hi-world--logo.png, /store/NetBarg_hi-world--logo@2x.png 2x", alt="نت برگ | NetBarg")
 span 
  a(href="http://netbarg.com", target="_blank") نت برگ
  | ، سایت تخفیف و خرید گروهی.

h3 نت‌برگ محلی برای کسب تجربه
p روزهای اول کاریم همیشه به یادم خواهد ماند. استرس زیادی داشتم چون برای اولین بار وارد حرفه ای شده بودم که قرار بود مسئولیت های زیادی به من داده بشه. بعد از چند روز متوجه شدم که به اون شکلی که من فکر می‌کردم نبوده و راحت تر از تفکرات پریشان من هست. روزهای اول به میز کارم علاقه شدیدی پیدا کردم و در اینستاگرام شخصیم تصویرش را شِیر کردم: 
P
 iframe(src="//instagram.com/p/spXyLbthyY/embed/", width="612", height="710", frameborder="0", scrolling="no", allowtransparency="true")
p تا امروز من یک ماهه در نت‌برگ مشغول به کار شدم و در این یک ماه تجربیاتی بدست آوردم که شاید چند سال در فریلنس نشه بدستشون آورد. نت‌برگ رو دوست دارم چون با تمام مشکلات و سختی هایی که وجود داره ولی کار در اون انجام میشه و نتیجه داره.
hr
p همیشه دوست دارم اینجا بنویسم. چه خوب، چه بد. امیدوارم از سادگی زیاد بلاگم خوشتون اومده باشه.
 br
 | با آرزوی موفقیت، 
 br
 | سیامک مختاری – پاییز ۱۳۹۳.